
{% extends 'todo/base.html' %}

{% block content %}

<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Organizza le tue cose da fare !!</h1>
            <p>La vita è divertente. Ma a volte può essere anche piena di impegni. Ci sono un milione di cose che potresti fare . Abbiamo creato <b><i>Cose da fare</i></b> il sito che ti aiuterà ad organizzare nel modo più efficiente le tue giornate . La tua vita organzizzata ti aspetta.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">inizia</a>
        </div>
    </div>


{% endblock %}
